.order{
    display: flex;
    background-color: #939393;
    color: white;
    padding: 30px;
}
.order__text{
    width: 90%;
}
.order__form{
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.order__form div{
    display: flex;
    justify-content: space-between;
}
.order__form div input{
    width: 40%;
}

