.lesson-teacher__title{
    margin-bottom: 30px;
    text-align: center;
}
.lesson-teacher__content{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    position: relative;
}
.lesson-teacher__img{
}
.lesson-teacher__img img{
    border: 3px solid #31B3EB;
    border-radius: 50%;
    padding: 5px;
}
.lesson-teacher__info-list{
    display: flex;
    justify-content: space-around;
}
.lesson-teacher__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 27%;
    text-align: center;
    background: linear-gradient(90deg, #65f6e5 -2.2%, #6fd4ff 50.14%, #8250ff 100%) fixed;
}
.lesson-teacher__info p{
    text-align: center;
    margin: auto;
}
.lesson-teacher__about{
    width: 70%;
    min-height: 265px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lesson-teacher__name{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lesson-teacher__skills-list{
    display: flex;
    flex-wrap: wrap;
}
.lesson-teacher__skill{
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}
@media only screen and (max-width: 960px) {
    .lesson-teacher__info-list{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .lesson-teacher__info{
        width: 60%;
        margin: 10px 0;
    }
    .lesson-teacher__about{
        max-width: 500px;
        width: 100%;
        padding: 30px 0;
        height: auto;
    }
    .lesson-teacher__name{
        font-size: 22px;
    }
    .lesson-teacher__content{
        padding: 20px;
    }
    .lesson-teacher__linkedIn a {
        bottom: 20px;
        right: 20px;
    }
    .lesson-teacher__skills{
        margin-top: 20px;
    }
    }
