.about-lesson{
    display: flex;
    margin: 0 50px;
}
.about-lesson__content{
    width: 70%;
    padding-right: 20px;
}
.about-lesson__form{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    max-height: 400px;
}
.about-lesson__stack-list{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.about-lesson__stack{
    background-color:white;
    border-radius: 15px;
    margin: 2px 3px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
}
.about-lesson__stack p{
    background: linear-gradient(90deg, #31B3EB 0%, #8F64FF 100%) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-lesson__stack-border{
    border-radius: 17px;
    margin: 10px;
    background: linear-gradient(90deg, #31B3EB 0%, #8F64FF 100%) fixed;
}
.about-lesson__form .my-btn{
    background-color: #3E63E7;
    color: white;
}
@media only screen and (max-width: 960px) {
    .about-lesson__content{
        width: 100%;
        min-width: 0;
    }
}


@media only screen and (max-width: 500px) {
    .about-lesson{
        margin: 0;
    }
}
