.lesson-info{
    display: flex;
    justify-content: space-between;
    margin: 30px;

}
.lesson-info__text{
    width: 75%;
}
.lesson-info__text p{
    margin-bottom: 30px;
    line-height: 25px;
}
@media only screen and (max-width: 960px) {
    .lesson-info{
        margin: 0;
        align-items: start;
    }
    .lesson-info h2{
        margin-bottom: 50px;
    }
    .lesson-info__text{
        width: 100%;
    }

}
