.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.38);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
    animation-name: modalBg;
    transition: background-color 0.5s;
}
.modal__content{
    display: flex;
    padding: 40px;
    border-radius: 20px;
    background: white;
    max-width: 60vw;
    width: 100%;
    min-width: 500px;
    height: 230px;
    align-items: center;
    margin-bottom: 20vh;
    animation-name: animate;
    animation-duration: 0.5s;
}
.modal__text{
    max-width: 500px;
    padding: 0 20px 30px 0;
}
.modal__text h3{
    padding-bottom: 10px;
    font-size: 30px;
}
.modal__form{
    max-width: 500px;
    width: 100%;
}
.modal__form form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.send-form{
    max-width: 500px;
    width: 100%;
}

@keyframes animate {
    from {margin-bottom: 15vh}
    to {margin-bottom: 20vh}
}
@keyframes modalBg {
    from {background-color: transparent}
    to {background-color: rgba(0, 0, 0, 0.38);}
}
@media only screen and (max-width: 960px) {
    .modal__content{
        flex-direction: column;
        margin-bottom: 10vh;
        height: auto;
        min-width: 250px;
    }
    .modal__form form{
        height: 180px;
    }
    @keyframes animate {
        from {margin-bottom: 5vh}
        to {margin-bottom: 10vh}
    }
}
