header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-width: 90vw;
    width: 100%;
}
header.marginX{
    margin-top: 15px;
    max-width: 1350px;
}
.header__text{
    background: linear-gradient(90deg, #31B3EB 0%, #8F64FF 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.burger{
    display: none;
}
.nav-link {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.nav-link.last{
    padding: 10px 0;
    border-radius: 5px;
    background-color: #3E63E7;
}


.nav-link a {
    font-size: 17px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.nav-link img {
    margin-right: 16px;
    width: 30px;
}
.nav-link_empty{
    margin: 0 10px;
    border: 2px solid #31B3EB;
    padding: 5px 10px;
    border-radius: 20px;
}
.nav-link .nav-link_filled{
    margin-left:10px;
    background: linear-gradient(90deg, #31B3EB 0%, #8F64FF 100%);;
    padding: 7px 30px;
    border-radius: 20px;
    color: white;
}
.logo{
    height: 50px;
    display: flex;
    align-items: center;
}
.logo div{
    text-align: left;
}
.show{
    transform: translateY(50px);
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 960px) {
    .burger{
        display: block;
    }
    header nav ul {
        transform: translateY(-100px);
        visibility: hidden;
        opacity: 0;
        transition: 0.8s all ease;
        flex-direction: column;
        background: #ffe9e9;
        position: absolute;
        border-radius: 10px;
        width: 95vw;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 5000;
    }


    .nav-link {
        display: flex;;
        justify-content: left;
        margin: 20px 5%;
        width: 90%;
    }
    .nav-link.last{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link img {
        margin-right: 16px;
        width: 20px;
    }
    .nav-link_empty,.nav-link .nav-link_filled{
        margin: 0;
    }
}
