@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Add the remaining font-face rules for each font file */

/* Example: */
@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* Apply the font styles to specific elements */


h1 {
    font-weight: bold;
    font-style: italic;
}

/* Add styles for other elements as needed */
