.partners h3{
    margin: 30px 0;
    text-align: center;
}

.partners img{
    max-width: 120px;
    width: 100%;
    height: auto;
    min-width: 50px;
}

.partners__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 20px;
    background: linear-gradient(90deg, #7affea 0%, #deabff 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    color: white;
}

.partners__first-row, .partners__second-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners__second-row{
    width: 90%;
    margin:  auto;
}

.partners__content a {
    margin: 20px 0;
}
.student-works__text{
    width: 50%;
}
@media only screen and (max-width: 960px) {
    .partners__content{
        padding: 0 10px;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
    }
    .student-works__text{
        padding: 20px 0;
        width: 100%;
    }
    .student-works__item{
        max-width: 100%;
    }
}
