.carousel__title{
    margin-bottom: 30px;
}
.viewbox {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    border-radius:0 0 5px 5px;
}

.steps {
    background-color: white;
    min-height: 200px;
    display: flex;
    width: 500%;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
    overflow: hidden;
}

.step  {
    width: 100%;
    padding: 20px;
    display: flex;
}

.step p{
    line-height: 20px;
    width: 415px;
}

.step-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.step-nav .step-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 110%;
    background-color: #ddd;
    text-align: center;
    color: black;
    margin-right: 1rem;
    padding: 0 5px;
    transition: background-color 0.5s;
}
.step-item.active {
    background-color:#4555b9;
    color: white;
}
.step hr{
    width: 95%;
    margin: 20px 0;
}

.box{
    text-align: center;
}
.box ul{
    padding-left: 15px;
}
.box__content{
    text-align: left;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0  0 2px rgb(255,255,255);
    border: 1px solid white;
    background-color: #7B7B7B;
    padding: 20px;
    min-height: 300px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box__stack-list{
    display: flex;
    flex-wrap: wrap;
}
.box__stack{
    background-color: white;
    color: #3E63E7;
    padding: 4px 15px;
    border-radius: 5px;
    margin: 5px;
}
.box__btn{
    width: 60%;
    margin: 0 auto;
}
.box__btn .my-btn{
    color: black;
    font-weight: 600;
}

.wrap{
    position: relative;
    display: flex;
    align-items: center;
}
.arrow-icon img{
    position: absolute;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}
.arrow-icon img:hover{
    transform: scale(1.2);
}
.arrow-icon-left{
    left: -20px;
}
.arrow-icon-right{
    right: -20px;
}
@media only screen and (max-width: 960px) {

    .step{
        flex-direction: column;
        padding: 0;
    }
    .step p{
        width: auto;
    }
    .arrow-icon img{
        width: 25px;
    }
    .arrow-icon-left{
        left: -10px;
    }
    .arrow-icon-right{
        right: -10px;
    }
}
@media only screen and (max-width: 570px) {

    .step-item a{
        display: none;
    }
    .step-nav{
        width: 50%;
    }
    .step-nav .step-item{
        border-radius: 50%;
        width: 10px;
        height: 10px;
        padding: 0;
    }
}
