.student-works h3{
    margin: 30px 0;
}
.student-works__item{
    height: 200px;
    max-width: 400px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
.student-works__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3E63E7;
    color: white;
}
.student-works__text{
    width: 50%;
}
@media only screen and (max-width: 960px) {
    .student-works__text{
        padding: 20px 0;
        width: 100%;
    }
    .student-works__item{
        max-width: 100%;
    }
}
