*{
    margin: 0;
    padding: 0;
}
section{
    margin: 50px 0;
    padding: 50px 0;
}
.marginX{
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
}
.main-box{
    padding: 50px;
    border-radius: 15px;
}
h2{
    font-size: 40px;
    font-weight: 550;
    line-height: 50px;
}
h3{
    font-size: 25px;
}
.my-input{
    background: transparent;
    padding: 17px;
    border-color: white;
    border-radius: 11px;
    color: white;
    width: calc(100% - 34px);
}
.my-input:focus{
    outline: none;
}
.my-input::placeholder{
    color: white;
}
.my-btn{
    width: 100%;
    background: white;
    border-radius: 11px;
    color: #3E63E7;
    padding: 17px;
}

footer{
    min-height: 300px;
}
